@media screen and (max-width: 600px) {
  .wrapper {
    padding: 0 1em;
  }

  header {
    padding: 3em 0 2em 0;
  }

  header .avatar img {
    width: 6em;
  }
h1 {
    font-size: 19.2px;
    line-height: 1.4;
  }

  ul.icons {
    text-align: center;
    padding: 0;
  }

  ul.icons li {
    display: inline-block;
    padding: 0 8px;
  }
   .thumbnails {
    flex-direction: column;
    margin: 0;
  }

  .thumbnails > div {
    width: 100%;
    padding-left: 0;
  }

  .thumbnails a {
    margin: 0 0 1.5em 0;
  }

   footer {
    padding: 2em 0;
  }

  footer:before {
    margin-bottom: 2em;
  }
}
/*
Yeabsira Abay -------- DF/UR 38483/16
Simon Guta -----------DF/UR 38459/16
Yared Million -------DF/UR 38481/16
Ermiyas Befkadu ------DF/UR 38353/16
*/ 
