@media screen and (max-width: 600px) {
  .wrapper {
    padding: 0 1em;
  }

  header {
    padding: 3em 0 2em 0;
  }

  header .avatar img {
    width: 6em;
  }
h1 {
    font-size: 19.2px;
    line-height: 1.4;
  }

  ul.icons {
    text-align: center;
    padding: 0;
  }

  ul.icons li {
    display: inline-block;
    padding: 0 8px;
  }
  
